/*=============================
        NAVBAR
==============================*/

.custom-navbar{

    padding:18px 0;

    background:transparent;

    transition:.4s ease;

}

.custom-navbar.scrolled{

    background:rgba(15,15,15,.95);

    backdrop-filter:blur(12px);

    box-shadow:0 10px 25px rgba(0,0,0,.35);

}

/* Logo */

.logo{

    font-size:2rem;

    font-weight:800;

    color:white !important;

    letter-spacing:1px;

}

.logo span{

    color:#E11D48;

}

/* Menu */

.navbar-nav .nav-link{

    color:white;

    margin:0 15px;

    font-weight:500;

    position:relative;

    transition:.3s;

}

.navbar-nav .nav-link:hover{

    color:#E11D48;

}

.navbar-nav .nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#E11D48;

    transition:.3s;

}

.navbar-nav .nav-link:hover::after{

    width:100%;

}

/* Button */

.btn-get-started{

    background:#E11D48;

    color:white;

    padding:12px 28px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.btn-get-started:hover{

    background:#BE123C;

    color:white;

    transform:translateY(-3px);

}

/* Mobile */

.navbar-toggler{

    color:white;

}

.navbar-toggler i{

    font-size:28px;

    color:white;

}