/* ===========================
   NAVBAR
=========================== */

.custom-navbar{
    background: rgba(17,17,17,.92);
    backdrop-filter: blur(10px);
    padding:18px 0;
    transition:.3s ease;
}

.logo{
    font-size:2rem;
    font-weight:800;
    color:var(--white)!important;
    letter-spacing:1px;
}

.logo span{
    color:var(--accent-color);
}

.navbar-nav .nav-link{
    color:var(--white);
    font-weight:500;
    margin:0 12px;
    position:relative;
    transition:.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active{
    color:var(--accent-color);
}

.navbar-nav .nav-link::after{

    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:var(--accent-color);
    transition:.3s;

}

.navbar-nav .nav-link:hover::after{

    width:100%;

}

.join-btn{

    background:var(--accent-color);
    color:var(--white);
    padding:12px 28px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;

}

.join-btn:hover{

    background:var(--accent-hover);
    color:var(--white);
    transform:translateY(-2px);

}

.navbar-toggler{

    color:var(--white);

}

.navbar-toggler i{

    color:var(--white);
    font-size:1.5rem;

}