/* ==========================================
   Responsive Design
========================================== */

/* Laptop */

@media (max-width:1200px) {

}

/* Tablet */

@media (max-width:992px) {

}

/* Mobile */

@media (max-width:768px) {

}

/* Small Mobile */

@media (max-width:576px) {

}
/*=========================================
            HERO RESPONSIVE
=========================================*/

@media (max-width:992px){

.hero{

text-align:center;
padding-top:140px;

}

.hero-content h1{

font-size:3rem;

}

.hero-buttons{

justify-content:center;

}

.hero-image{

margin-top:60px;

}

.hero-image img{

max-width:450px;

}

}

@media (max-width:768px){

.hero-content h1{

font-size:2.2rem;

}

.hero-content p{

font-size:16px;
line-height:28px;

}

.hero-buttons{

flex-direction:column;
align-items:center;

}

.hero-buttons .btn{

width:260px;

}

.hero-image img{

max-width:100%;

}

}