@import url("components/navbar.css");
@import url("components/hero.css");
@import url("components/statistics.css");
@import url("components/about.css");
@import url("components/why-us.css");
@import url("components/programs.css");
@import url("components/membership.css");
@import url("components/trainers.css");
@import url("components/gallery.css");
@import url("components/contact.css");
@import url("components/footer.css");
/* ==========================================
   GOOGLE FONT
========================================== */

:root {

    --primary-color: #111111;
    --secondary-color: #1b1b1b;
    --accent-color: #dc2626;
    --accent-hover: #b91c1c;
    --white: #ffffff;
    --light-gray: #d1d5db;
    --dark-gray: #6b7280;
    --background: #0d0d0d;

    --transition: .3s ease;
}

/* ==========================================
   RESET
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

body {

    font-family: 'Poppins', sans-serif;
    background: var(--background);
    color: var(--white);
    overflow-x: hidden;

}

img {

    max-width: 100%;
    display: block;

}

a {

    text-decoration: none;

}

ul {

    list-style: none;

}

section {

    padding: 100px 0;

}

.container {

    width: 90%;
    max-width: 1320px;
    margin: auto;

}
