/*=========================================
                HERO
=========================================*/

.hero{
    background:#0F0F0F;
    color:#fff;
    padding-top:100px;
    overflow:hidden;
}

.hero-content h1{
    font-size:4rem;
    font-weight:800;
    line-height:1.1;
    margin:25px 0;
}

.hero-content p{
    color:#9CA3AF;
    font-size:18px;
    line-height:32px;
    margin-bottom:30px;
}

.hero-badge{
    display:inline-block;
    background:#E11D48;
    padding:10px 20px;
    border-radius:30px;
    font-weight:600;
}

.hero-features{
    list-style:none;
    padding:0;
    margin:0 0 35px;
}

.hero-features li{
    margin-bottom:14px;
    font-size:17px;
}

.hero-features i{
    color:#E11D48;
    margin-right:10px;
}

.hero-buttons{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.btn-main{
    background:#E11D48;
    color:#fff;
    padding:14px 34px;
    border-radius:50px;
    font-weight:600;
}

.btn-main:hover{
    background:#BE123C;
    color:#fff;
}

.hero-rating{
    margin-top:15px;
}

.stars{
    color:#FFD43B;
    font-size:22px;
}

.rating-text{
    margin-left:12px;
    color:#D1D5DB;
}

.hero-image{
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:100%;
    max-width:520px;
    border-radius:25px;
    box-shadow:0 30px 60px rgba(0,0,0,.45);
}