/*=========================================
            FITCORE DESIGN SYSTEM
=========================================*/

:root{

    /*=====================================
                COLORS
    =====================================*/

    --primary-bg:#0A0A0A;
    --secondary-bg:#121212;
    --card-bg:#1A1A1A;

    --primary:#E11D48;
    --primary-hover:#BE123C;

    --white:#FFFFFF;
    --light:#E5E7EB;
    --gray:#9CA3AF;

    --border:rgba(255,255,255,.08);

    /*=====================================
                BORDER RADIUS
    =====================================*/

    --radius-sm:10px;
    --radius-md:16px;
    --radius-lg:24px;
    --radius-xl:50px;

    /*=====================================
                SHADOWS
    =====================================*/

    --shadow-sm:0 8px 20px rgba(0,0,0,.20);
    --shadow-md:0 15px 35px rgba(0,0,0,.30);
    --shadow-lg:0 25px 60px rgba(0,0,0,.45);

    /*=====================================
                TRANSITIONS
    =====================================*/

    --transition:.35s ease;

    /*=====================================
                SECTION SPACING
    =====================================*/

    --section-padding:120px;

    /*=====================================
                CONTAINER
    =====================================*/

    --container:1320px;

}