/*=============================
        NAVBAR
==============================*/

.custom-navbar{

    position:fixed;
    top:0;
    left:0;
    width:100%;

    padding:12px 0;

    background:transparent;

    transition:all .4s ease;

    z-index:1000;

}
.custom-navbar.scrolled{

    background:rgba(17,17,17,.92);

    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);

    box-shadow:0 8px 25px rgba(0,0,0,.35);

}

/* Logo */

.logo{

    font-size:1.8rem;

    font-weight:800;

    color:white !important;

    letter-spacing:1px;

}

.logo span{

    color:#E11D48;

}

/* Menu */

.navbar-nav .nav-link{

    color:#FFFFFF !important;

    margin:0 12px;

    font-weight:500;

    position:relative;

    transition:.3s;

}

.navbar-nav .nav-link:hover{

    color:#E11D48;

}
.navbar-nav .nav-link.active{

    color:#E11D48 !important;

}

.navbar-nav .nav-link.active::after{

    width:100%;

}

.navbar-nav .nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#E11D48;

    transition:.3s;

}

.navbar-nav .nav-link:hover::after{

    width:100%;

}

/* Button */

.btn-get-started{

    background:#E11D48;

    color:white;

    padding:12px 28px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.btn-get-started:hover{

    background:#BE123C;

    color:white;

    transform:translateY(-3px);

}

/* Mobile */

.navbar-toggler{

    color:white;

}

.navbar-toggler i{

    font-size:28px;

    color:white;

}