/*=============================
        NAVBAR
==============================*/

.custom-navbar{

    position:fixed;
    top:0;
    left:0;
    width:100%;

    padding:12px 0;
    border-bottom:1px solid transparent;

    background:transparent;

    transition:all .4s ease;

    z-index:1000;

}
.custom-navbar.scrolled{

    padding:18px 0;

    background:rgba(10,10,10,.75);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    box-shadow:0 12px 35px rgba(0,0,0,.35);

}

/* Logo */

.logo{

    display:flex;
    align-items:center;
    gap:12px;

}

.logo-img{

    width:38px;
    height:38px;

    object-fit:contain;

    display:block;

}

.fit{

    color:white;

    font-size:1.9rem;

    font-weight:800;

}

.core{

    color:var(--primary);

    font-size:1.9rem;

    font-weight:800;

}

.logo small{

    color:#9CA3AF;

    letter-spacing:2px;

    font-size:11px;

    text-transform:uppercase;

}

/* Menu */

.navbar-nav .nav-link{

    color:#FFFFFF !important;

    margin:0 18px;

    font-weight:600;

    position:relative;

    transition:var(--transition);

}

.navbar-nav .nav-link:hover{

    color:#E11D48;

}
.navbar-nav .nav-link.active{

    color:#E11D48 !important;

}

.navbar-nav .nav-link.active::after{

    width:100%;

}

.navbar-nav .nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:3px;

    border-radius:20px;

    background:#E11D48;

    transition:.3s;

}

.navbar-nav .nav-link:hover::after{

    width:100%;

}

/* Button */

/*=========================================
            GET STARTED BUTTON
=========================================*/

.btn-get-started{

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--primary-hover)
    );

    color:var(--white);

    padding:14px 34px;

    border-radius:var(--radius-xl);

    font-weight:600;

    transition:var(--transition);

    box-shadow:0 12px 30px rgba(225,29,72,.25);

}

.btn-get-started:hover{

    color:var(--white);

    transform:translateY(-4px);

    box-shadow:0 18px 40px rgba(225,29,72,.45);

}

/*=========================================
            MOBILE TOGGLER
=========================================*/

.navbar-toggler{

    border:none;

    box-shadow:none !important;

    padding:6px;

}

.navbar-toggler:focus{

    box-shadow:none;

}

.navbar-toggler i{

    font-size:26px;

    color:var(--white);

    transition:var(--transition);

}

.navbar-toggler:hover i{

    color:var(--primary);

}